<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aditya.catataninspirasi">

    <application
        android:label="Catatan Inspirasi"
        android:theme="@style/Theme.CatatanInspirasi"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
